* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* utilities and color */
.blue {
  background-color: #2c3e50;
}

.dark-blue {
  background-color: #1a252f;
}
.green {
  background-color: #1abc9c;
}

.box {
  height: 60px;
  background-color: #1abc9c;
  margin: 20px 0px;
}

.text-white {
  color: white;
}

.text-blue {
  color: #2c3e50;
}

.opac-07 {
  opacity: 0.7;
}

/* typing */
.navbar-header a  {
  font-size: 25px;
}

.navbar-right a  {
  font-size: 16px;
}

header > .navbar a,
h1,
h2 {
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}

/* HEADER */
/* navbar header */
header > .navbar {
  margin-bottom: 0px;
  border: none;
}

header .navbar .navbar-brand {
  height: 80px;
  line-height: 80px;
  padding: 0px;
  color: white;
}

header .navbar .navbar-brand:hover {
  color: white;
}

header .navbar .navbar-right a {
  height: 80px;
  line-height: 80px;
  padding: 0px 20px;
  color: white
}

header .navbar .navbar-right a:hover {
  color:#1abc9c;
}

/* navbar <992 */
@media screen and (max-width:992px)  {
  header .navbar-header {
    padding: 0px 30px;
  }
  header .collapsed {
    margin-top: 20px;
  }
  header .collapsed:hover {
    margin-top: 20px;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }
  .navbar-default .navbar-toggle:hover {
    background-color: #1abc9c;
  }
}


/* jumbo header */
.jumbo-img {
  margin-top: 80px;
}

.jumbo-img img {
  height: 250px;
}

.jumbo h1 {
  font-size: 50px;
}

.jumbo .icon-star i {
  font-size: 30px;
}

.jumbo .line {
  background-color: white;
  height: 2px;
}
